html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  min-width: 1200px;
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
ul,
li,
ol {
  list-style: none;
}
a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
img {
  border: 0;
}
::-webkit-input-placeholder {
  color: #aaa;
}
::-moz-placeholder {
  color: #aaa;
}
::-moz-placeholder {
  color: #aaa;
}
:-ms-input-placeholder {
  color: #aaa;
}
@font-face {
  font-family: "FuturaT-Demi";
  src: url('../font/FuturaT-Demi.eot');
  /* IE9*/
  src: url('../font/FuturaT-Demi.eot') format('embedded-opentype'), url('../font/FuturaT-Demi.woff') format('woff'), url('../font/FuturaT-Demi.ttf') format('truetype'), url('../font/FuturaT-Demi.svg') format('svg');
  /* iOS 4.1- */
}
.load-more {
  text-align: center;
  width: 120px;
  background: #1B1B1B;
  border: 2px solid #1B1B1B;
  color: #E5DFD9;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin: 60px auto;
}
.null {
  text-align: center;
  line-height: 120px;
  font-size: 14px;
  display: none;
  clear: both;
  float: none;
  overflow: hidden;
}
#loading {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 999999999;
  width: 100px;
  height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 12px 0px rgba(100, 100, 100, 0.36);
  box-shadow: 0 0px 12px 0px rgba(100, 100, 100, 0.36);
  text-align: center;
  display: none;
}
#loading .ico {
  width: 48px;
  height: 48px;
  margin: 10px auto;
}
#loading p {
  font-size: 13px;
}
.header {
  height: 152px;
  background-color: #1B1B1B;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  min-width: 1200px;
  z-index: 99999;
}
.header .logo {
  width: 500px;
  height: 25px;
  margin: 0 auto;
  padding-top: 50px;
}
.header .logo .ico {
  display: block;
}
.header .nav-bar {
  text-align: center;
  margin-top: 30px;
}
.header .nav-bar .nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: 47px;
}
.header .nav-bar .nav img {
  display: none;
  margin: 3px auto;
}
.header .nav-bar .nav .nav-a {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 75px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .nav-bar .nav .sub-menu {
  position: absolute;
  left: 0;
  top: 152px;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  text-align: left;
  padding-bottom: 30px;
  display: none;
}
.header .nav-bar .nav .sub-menu a {
  color: #1B1B1B;
  font-size: 13px;
}
.header .nav-bar .nav .clothes {
  text-align: center;
}
.header .nav-bar .nav .clothes ul {
  display: inline-block;
  margin-left: -150px;
}
.header .nav-bar .nav .clothes li {
  margin-top: 20px;
  padding: 10px 0;
  color: #000;
  position: relative;
  text-align: left;
}
.header .nav-bar .nav .clothes li span {
  display: block;
  font-family: FuturaT-Demi;
}
.header .nav-bar .nav .clothes li em {
  display: block;
  margin-top: 3px;
}
.header .nav-bar .nav .clothes li .line {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 1px;
  background-color: #1b1b1b;
  z-index: 10;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header .nav-bar .nav .clothes li:hover .line {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.header .nav-bar .nav .jewellery {
  text-align: center;
}
.header .nav-bar .nav .jewellery ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 70px;
}
.header .nav-bar .nav .jewellery ul li {
  margin: 16px 0;
  padding: 10px 0;
  text-align: left;
  position: relative;
}
.header .nav-bar .nav .jewellery ul li span {
  position: absolute;
  width: 0;
  bottom: 0;
  height: 1px;
  background-color: #1b1b1b;
  z-index: 10;
  left: 5%;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header .nav-bar .nav .jewellery ul li:hover span {
  width: 90%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.header .nav-bar .nav.active .nav-a {
  color: #fff;
}
.header .nav-bar .nav.active .ico {
  display: block;
}
.header .nav-bar .nav.hover-active .nav-a {
  color: #fff;
}
.header .nav-bar .nav.hover-active .ico {
  display: block;
}
.footer {
  background-color: #1a1a1a;
  overflow: hidden;
}
.footer ol {
  width: 960px;
  margin: 40px auto 0;
  overflow: hidden;
}
.footer ol li {
  float: left;
  color: #fff;
  overflow: hidden;
}
.footer ol .col1 {
  margin-right: 175px;
}
.footer ol .col1 .item {
  font-size: 20px;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 20px;
  font-family: FuturaT-Demi;
}
.footer ol .col1 .item.active {
  opacity: 1;
}
.footer ol .col2 {
  margin-right: 80px;
  width: 274px;
}
.footer ol .col3 {
  margin-right: 30px;
}
.footer ol .col4 {
  float: right;
}
.footer ol .col4 img {
  width: 120px;
  height: 120px;
}
.footer ol h6 {
  font-size: 20px;
  color: #fff;
  border-bottom: solid 1px #4a4847;
  padding-bottom: 10px;
  line-height: 24px;
}
.footer ol .text {
  padding-top: 10px;
}
.footer ol p {
  line-height: 30px;
  font-size: 13px;
  font-family: FuturaT-Demi;
}
.footer .copy-right {
  color: #fff;
  text-align: center;
  border-top: solid 1px #4a4847;
  margin-top: 55px;
  height: 48px;
  line-height: 48px;
}
.footer .copy-right span {
  margin: 0 60px;
  color: #807D7A;
}
.footer .copy-right img {
  vertical-align: middle;
  margin-right: 5px;
}
.page {
  overflow: hidden;
}
.page .container {
  padding-top: 152px;
}
.index .banner {
  height: 900px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}
.index .banner .poster {
  display: block;
  width: 100%;
}
.index .banner video {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.index .banner .info {
  position: absolute;
  left: 0;
  top: 300px;
  width: 100%;
  text-align: center;
  z-index: 999;
  color: #fff;
}
.index .banner .info .name {
  font-size: 64px;
  line-height: 90px;
}
.index .banner .info .line {
  width: 90px;
  height: 2px;
  margin: 18px auto 0;
  background-color: #fff;
}
.index .banner .info .designer {
  font-size: 24px;
  margin-top: 30px;
  line-height: 40px;
}
.index .banner .info .play {
  margin-top: 28px;
  cursor: pointer;
  height: 50px;
}
.index .fix-player {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}
.clothes-page,
.jewellery-page {
  background-color: #f5f5f5;
}
.clothes-page .main,
.jewellery-page .main {
  padding: 20px 40px;
}
.clothes-page .title,
.jewellery-page .title {
  height: 80px;
  line-height: 80px;
  border: solid 1px #eee;
  background-color: #fff;
}
.clothes-page .title .bread-nav,
.jewellery-page .title .bread-nav {
  font-size: 13px;
  color: #999;
  float: left;
  padding-left: 32px;
}
.clothes-page .title .bread-nav span,
.jewellery-page .title .bread-nav span {
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #999;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 15px;
}
.clothes-page .title .filter,
.jewellery-page .title .filter {
  float: right;
}
.clothes-page .title .filter li,
.jewellery-page .title .filter li {
  float: left;
  width: 96px;
  text-align: center;
  border-left: solid 1px #e7e7e7;
  cursor: pointer;
  position: relative;
}
.clothes-page .title .filter li img,
.jewellery-page .title .filter li img {
  margin-left: 5px;
}
.clothes-page .title .filter li.type,
.jewellery-page .title .filter li.type {
  position: relative;
}
.clothes-page .title .filter li.type dl,
.jewellery-page .title .filter li.type dl {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 81px;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 3px 4px 0 rgba(10, 31, 68, 0.1);
  box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 3px 4px 0 rgba(10, 31, 68, 0.1);
}
.clothes-page .title .filter li.type dd,
.jewellery-page .title .filter li.type dd {
  line-height: 1;
  height: 70px;
  border-bottom: solid 1px #eee;
  text-align: left;
  padding: 0 25px;
  overflow: hidden;
  font-size: 13px;
  color: #1B1B1B;
  line-height: 16px;
}
.clothes-page .title .filter li.type dd h6,
.jewellery-page .title .filter li.type dd h6 {
  white-space: nowrap;
  margin-top: 20px;
  font-family: FuturaT-Demi;
}
.clothes-page .list,
.jewellery-page .list {
  background-color: #fff;
  position: relative;
  padding-bottom: 60px;
}
.clothes-page .list ul,
.jewellery-page .list ul {
  clear: both !important;
}
.clothes-page .list ul:after,
.jewellery-page .list ul:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.clothes-page .list li,
.jewellery-page .list li {
  width: 20%;
  height: 383px;
  float: left;
  border-bottom: solid 1px #eee;
  border-right: solid 1px #eee;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}
.clothes-page .list li .pic,
.jewellery-page .list li .pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.clothes-page .list li .pic img,
.jewellery-page .list li .pic img {
  display: block;
  width: 100%;
}
.clothes-page .list li .hover-pic,
.jewellery-page .list li .hover-pic {
  display: none;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.1);
  box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.1);
  background-color: #fff;
  -webkit-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clothes-page .list li .hover-pic img,
.jewellery-page .list li .hover-pic img {
  display: block;
  width: 100%;
}
.clothes-page .list .fr-item,
.jewellery-page .list .fr-item,
.clothes-page .list .fl-item,
.jewellery-page .list .fl-item {
  width: 40%;
  height: 766px;
}
.clothes-page .list .fr-item .item-title,
.jewellery-page .list .fr-item .item-title,
.clothes-page .list .fl-item .item-title,
.jewellery-page .list .fl-item .item-title {
  font-size: 15px;
  padding-top: 85px;
  max-width: 330px;
  margin: 0 auto 20px;
  color: #313131;
}
.clothes-page .list .fr-item .item-desc,
.jewellery-page .list .fr-item .item-desc,
.clothes-page .list .fl-item .item-desc,
.jewellery-page .list .fl-item .item-desc {
  padding: 0 60px;
  max-width: 330px;
  margin: 0 auto;
  font-style: italic;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 12px;
  line-height: 20px;
}
.clothes-page .list .fr-item .fl-pic,
.jewellery-page .list .fr-item .fl-pic,
.clothes-page .list .fl-item .fl-pic,
.jewellery-page .list .fl-item .fl-pic {
  height: 460px;
  margin: 70px auto 0;
}
.clothes-page .list .fr-item .fl-pic img,
.jewellery-page .list .fr-item .fl-pic img,
.clothes-page .list .fl-item .fl-pic img,
.jewellery-page .list .fl-item .fl-pic img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
.clothes-page .list .fr-item .fl-hover-pic,
.jewellery-page .list .fr-item .fl-hover-pic,
.clothes-page .list .fl-item .fl-hover-pic,
.jewellery-page .list .fl-item .fl-hover-pic {
  height: 460px;
  margin: 70px auto 0;
  display: none;
  position: relative;
  z-index: 10;
}
.clothes-page .list .fr-item .fl-hover-pic img,
.jewellery-page .list .fr-item .fl-hover-pic img,
.clothes-page .list .fl-item .fl-hover-pic img,
.jewellery-page .list .fl-item .fl-hover-pic img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .clothes-page .list li,
  .jewellery-page .list li {
    height: 280px;
  }
  .clothes-page .list .fr-item,
  .jewellery-page .list .fr-item,
  .clothes-page .list .fl-item,
  .jewellery-page .list .fl-item {
    height: 562px;
  }
  .clothes-page .list .fr-item .fl-pic,
  .jewellery-page .list .fr-item .fl-pic,
  .clothes-page .list .fl-item .fl-pic,
  .jewellery-page .list .fl-item .fl-pic {
    height: 280px;
  }
  .clothes-page .list .fr-item .fl-hover-pic,
  .jewellery-page .list .fr-item .fl-hover-pic,
  .clothes-page .list .fl-item .fl-hover-pic,
  .jewellery-page .list .fl-item .fl-hover-pic {
    height: 280px;
  }
}
.clothes-page .list .fl-item,
.jewellery-page .list .fl-item {
  float: left;
}
.clothes-page .list .fr-item,
.jewellery-page .list .fr-item {
  float: right;
}
.jewellery-page .video-alpha {
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 1200px;
  display: none;
}
/*珠宝视频样式*/
.jewellery-page .video-list {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 160px;
}
.jewellery-page .video-list ul {
  overflow: hidden;
  margin-left: -30px;
}
.jewellery-page .video-list ul li {
  width: 500px;
  overflow: hidden;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}
.jewellery-page .video-list ul li .pic {
  width: 500px;
  height: 233px;
  overflow: hidden;
  position: relative;
}
.jewellery-page .video-list ul li .pic img {
  display: block;
  width: 100%;
}
.jewellery-page .video-list ul li .pic .play-btn {
  width: 66px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -33px;
  margin-top: -18px;
  z-index: 20;
  background-repeat: no-repeat;
  background-image: url(../images/play_video.png);
  background-size: cover;
  cursor: pointer;
}
.jewellery-page .video-list ul li .video-info {
  overflow: hidden;
}
.jewellery-page .video-list ul li .video-info .name {
  font-size: 18px;
  line-height: 26px;
  color: #1D1E1F;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 14px;
  font-weight: bold;
}
.jewellery-page .video-list ul li .video-info p {
  margin-top: 6px;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
.jewellery-page{
	background-color: #fff;
}
.jewellery-page .main{
	width: 1560px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
.jewellery-page .banner {
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  overflow: hidden;
}
.jewellery-page .banner img {
  display: block;
  max-width: 100%;
}
.jewellery-page .video-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #000;
  display: none;
}
.jewellery-page .video-box .close-box {
  position: absolute;
  left: 28px;
  top: 28px;
  z-index: 66;
  width: 24px;
  height: 24px;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.jewellery-page .video-box .video-cnt {
  max-width: 1560px;
  width: 100vw;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.jewellery-page .video-box video {
  width: 100%;
  height: 100%;
}

/*.jewellery-page .video-box {
  width: 500px;
  height: 376px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -188px;
  z-index: 10;
}
.jewellery-page .video-box .close {
  position: absolute;
  right: 0;
  top: -33px;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 100%;
  cursor: pointer;
}
.jewellery-page .video-box .play-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.jewellery-page .video-box video {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}*/
.brand .main {
  padding: 80px 0;
  min-width: 1200px;
  max-width: 1600px;
  margin: 0 auto;
}
.brand .main ul {
  height: auto;
  position: relative;
  min-height: 500px;
}
.brand .main li {
  float: left;
  width: 312px;
  -webkit-box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 3px 4px 0 rgba(10, 31, 68, 0.1);
  box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 3px 4px 0 rgba(10, 31, 68, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.brand .main li .pic {
  width: 100%;
  overflow: hidden;
}
.brand .main li .pic img {
  display: block;
  width: 100%;
}
.brand .main li .info {
  padding: 0 20px;
  overflow: hidden;
  height: 182px;
}
.brand .main li .info .title {
  font-size: 16px;
  color: #222;
  line-height: 22px;
  margin-top: 20px;
  display: -webkit-box;
  height: 44px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.brand .main li .info .desc {
  font-size: 13px;
  color: #999;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 10px;
  margin-bottom: 20px;
}
.brand .main li .info .show-detail {
  height: 51px;
  border-top: solid 1px #eee;
  display: block;
  overflow: hidden;
}
.brand .main li .info .show-detail .ico {
  float: left;
  margin-top: 20px;
}
.brand .main li .info .show-detail .next {
  float: right;
  margin-top: 20px;
}
.detail {
  background-color: #f5f5f5;
}
.detail .main {
  width: 1200px;
  overflow: hidden;
  margin: 20px auto;
}
.detail .main .article {
  width: 1100px;
  overflow: hidden;
  background-color: #fff;
  min-height: 800px;
}
.detail .main .article .bread-nav {
  font-size: 13px;
  color: #999;
  padding-left: 32px;
  height: 80px;
  line-height: 80px;
  border-bottom: solid 1px #eee;
}
.detail .main .article .bread-nav span {
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #999;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 15px;
}
.detail .main .article .content {
  overflow: hidden;
}
.detail .main .article .content .title {
  width: 850px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  color: #222;
  line-height: 48px;
  margin-top: 80px;
  display: none;
}
.detail .main .article .content .info {
  margin-top: 20px;
  font-size: 18px;
  color: #999;
  text-align: center;
  display: none;
}
.detail .main .article .content .info .date {
  margin-left: 30px;
}
.detail .main .article .content .desc {
  width: 750px;
  margin: 60px auto 100px;
  overflow: hidden;
  display: none;
}
.detail .main .article .content .desc img {
  display: block;
  max-width: 750px;
  margin: 0 auto;
}
.detail .main .go-top {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 2px 3px 0 rgba(10, 31, 68, 0.1);
  box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 2px 3px 0 rgba(10, 31, 68, 0.1);
  border-radius: 2px;
  position: fixed;
  right: 50%;
  margin-right: -600px;
  top: 172px;
  cursor: pointer;
  display: none;
}
.show-page .main {
  width: 1560px;
  overflow: hidden;
  margin: 0 auto;
}
.show-page .banner {
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  overflow: hidden;
}
.show-page .banner img {
  display: block;
  max-width: 100%;
}
.show-page .video-list {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 160px;
}
.show-page .video-list ul {
  overflow: hidden;
  margin-left: -30px;
}
.show-page .video-list ul li {
  width: 500px;
  overflow: hidden;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}
.show-page .video-list ul li .pic {
  width: 500px;
  height: 233px;
  overflow: hidden;
  position: relative;
}
.show-page .video-list ul li .pic img {
  display: block;
  width: 100%;
}
.show-page .video-list ul li .pic .play-btn {
  width: 66px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -33px;
  margin-top: -18px;
  z-index: 20;
  background-repeat: no-repeat;
  background-image: url(../images/play_video.png);
  background-size: cover;
  cursor: pointer;
}
.show-page .video-list ul li .video-info {
  overflow: hidden;
}
.show-page .video-list ul li .video-info .name {
  font-size: 18px;
  line-height: 26px;
  color: #1D1E1F;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 14px;
  font-weight: bold;
}
.show-page .video-list ul li .video-info p {
  margin-top: 6px;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
.show-page .video-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #000;
  display: none;
}
.show-page .video-box .close-box {
  position: absolute;
  left: 28px;
  top: 28px;
  z-index: 66;
  width: 24px;
  height: 24px;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.show-page .video-box .video-cnt {
  max-width: 1560px;
  width: 100vw;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.show-page .video-box video {
  width: 100%;
  height: 100%;
}
/*明星*/
.header .nav-bar .nav .star {
  text-align: center;
}
.header .nav-bar .nav .star ul {
  display: inline-block;
  vertical-align: top;
  /*margin-left: 418px;*/
}
.header .nav-bar .nav .star ul li {
  margin: 16px 0;
  padding: 10px 0;
  text-align: left;
  position: relative;
}
.header .nav-bar .nav .star ul li span {
  position: absolute;
  width: 0;
  bottom: 0;
  height: 1px;
  background-color: #1b1b1b;
  z-index: 10;
  left: 5%;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.header .nav-bar .nav .star ul li:hover span {
  width: 90%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
